captum==0.6.0
contextily==1.3.0
geopandas==0.12.2
geopy==2.3.0
imbalanced-learn==0.10.1
joblib==1.2.0
matplotlib==3.7.2
notebook==6.5.4
numpy==1.24.3
pandas==2.0.0
plotly==5.14.1
pyproj==3.5.0
pytopk==0.1.0
pytorch-tabnet==4.1.0
requests==2.29.0
rioxarray==0.14.1
rtdl==0.0.13
Rtree==1.0.1
scikit-learn==1.2.2
scipy==1.10.1
shapely==2.0.1
torch==1.13.1
torchmetrics==0.11.4
tqdm==4.65.0
xgboost==1.7.5
